:root {
    --vermelho: #E30914;
    --preto: #000000;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* elementos base */
body {
    background: var(--preto);
    font-family: 'Times New Roman', Times, serif;
    color:#AAA
}

header .menu-wrapper {
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 7px; 
    justify-content: space-between;
    
}

header nav a {
    text-decoration: none;
    color: #AAA;
    margin: 4px;
}

header nav a:hover {
    color: #fff;
}

.rank {
    display: flex;
    justify-content: space-between;
}

.rank img {
    background-color: white;
    border-radius: 3px;
}

.rank p:nth-child(1) {
    color: rgb(53, 201, 53)
}


/* filme principal */
.main-movie {
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('/img/background-image.jpg');

    height: 450px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
} 

.sinopse {
    margin-bottom: 20px;
}